.circlebody{
    padding-bottom: 128px;
    padding: 64px 120px 128px 120px;
}
.circle-section {
  padding: 30px 20px 40px 20px;
  background-size: cover;
  border-radius: 16px;
  background-position: center;
  color: white;
  width: 1030px;
  height: 597px;
  font-family: 'Poppins', sans-serif;
  background-image: url('/assets/circlebg.png');

}

.circle-heading {
  text-align: center;
  font-size: 38px;
  font-family: Playfair Display;
  margin-bottom: 40px;
}

.highlightc {
  color: #e74c3c;
  font-family: Playfair Display;
  font-style: semi bold;


}

.circle-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
}

.circle-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: -58px;
}

.circle-item p{
    font-size: 14px;
    line-height: 1.2;
    margin-top: -15px;
}
.circle-item {
  width: fit-content;
  align-items: center;
  background: #2B2A2A;
  border-radius: 6px;
  padding: 12px 12px;
  font-size: 15px;
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 44px;
  display: flex;
}


.circle-item1 {
  width: fit-content;
  align-items: center;
  background: #2B2A2A;
  border-radius: 6px;
  padding: 11px 12px;
  font-size: 15px;
  margin-left: 30px;
  display: flex;
  margin-bottom: 13px;
  margin-top: 90px;
}
.circle-item1 p{
    font-size: 14px;
    line-height: 1.2;
    margin-top: -15px;
}

.circle-icon1{
    width: 19px;
    height: 22px;
    margin-right: 12px;
}



.circle-item2 {
  width: fit-content;
  align-items: center;
  background: #2B2A2A;
  border-radius: 6px;
  padding: 11px 12px;
  font-size: 15px;
  margin-left: 30px;
  display: flex;
  margin-bottom: 22px;
  margin-top: 14px;
}
.circle-item2 p{
    font-size: 14px;
    line-height: 1.2;
    margin-top: -15px;
}
.circle-icon2{
    width: 25px;
    height: 22px;
    margin-right: 12px;
}

.circle-icon3{
    width: 28px;
    height: 22px;
    margin-right: 12px;
}


.circle-item4 {
  width: fit-content;
  align-items: center;
  background: #2B2A2A;
  border-radius: 6px;
  padding: 13px 16px;
  font-size: 15px;
  margin-left: 30px;
  display: flex;
  margin-top: 0px;
}
.circle-item4 p{
    font-size: 14px;
    line-height: 1.2;
    margin-top: -15px;
}
.circle-icon4{
    width: 30px;
    height: 22px;
    margin-right: 12px;
}






.circle-container {
  position: relative;
  flex: 1;
  max-width: 55%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-bg {
  width: 100%;
  height: 100%;
  display: block;
}

.circle-label {
  position: absolute;
  left: 270px; /* pull text outside to the left */
  width: 150px; /* set width for centering */
  text-align: center;
  white-space: nowrap;
  color: white;
  display: flex;
  font-size: 14px;
  line-height: 19px;
  font-family: poppins;
}

.label-11 {
  top: 23px;
}

.label-22 {
  top: 117px;
  left: 250px;
}

.label-33 {
  top: 210px;
  left: 260px;
}

.label-44 {
  top: 322px;
  left: 255px;
}



@media (max-width: 768px) {
  .circle-content {
    flex-direction: column;
    gap: 40px;
  }

  .circle-left,
  .circle-right {
    max-width: 100%;
    align-items: center;
  }

  .circle-ring {
    font-size: 12px;
  }

  .circle-heading {
    font-size: 28px;
  }
}
